<nav class="navbar navbar-expand-sm bg-dark navbar-dark mb-4">
    <a class="navbar-brand" href="javascript:void(0)" routerLink="/">Kelton</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="json">Json Formatter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)" routerLink="post">Post</a>
        </li>
      </ul>
    </div>  
  </nav>